@import "vars";
@import "global";
@import "fonts";

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.header__btn-login {
    background-color: $green;
}
.header__btn-register,
.header__btn-logout {
    background-color: $red;
    margin-left: 7px;
}
.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}
.header__circle {
    &.active {
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
}
span {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    color: #fff;
}

.notification {
    span {
        background-color: #fcb322;
    }
}
.massage {
    span {
        background-color: #f39344;
    }
}
.basket {
    span {
        background-color: #95c85a;
    }
}
.header__btn-login--off {
    display: none;
}
.header__btn-logout {
    display: none;
    &.header__btn-login--on {
        display: block;
    }
}
.header__box {
    display: flex;
    align-items: center;
}
.user {
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before {
        content: "\f107";
        position: absolute;
        font-family: "icomoon";
        color: #707070;
        font-size: 16px;
        top: 0;
        right: 0;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__images {
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info {
        font-size: 14px;
        line-height: 24px;
    }
    &__name {
        color: #222;
        @include f500;
    }
    &__money {
        color: $green;
        @include f700;
    }
}
.user__box,
.basket__box,
.notification__box,
.massage__box {
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover {
        .user__menu {
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}
.user__menu {
    border: 0px solid #ccc;
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    top: 69px;
    left: 20px;
    height: 0px;
    overflow: hidden;
    a {
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}

.basket__menu,
.notification__menu,
.massage__menu {
    position: absolute;
    top: 62px;
    border-top: 1px solid #e0e0e0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.basket__box,
.notification__box,
.massage__box {
    margin-top: 54px;
    margin-left: 15px;
    &:hover {
        .header__circle::before{
            color: $bg;
        }
        .basket__menu,
        .notification__menu,
        .massage__menu {
            overflow: auto;
            height: auto;
        }
        .basket__item,
        .notification__item,
        .massage__item {
            padding: 23px;
            border-width: 1px;
        }
    }
}
.basket__item,
.notification__item,
.massage__item {
    background-color: #fff;
    border: 0px solid #e0e0e0;
    padding: 0 23px;
    border-left-width: 1px;
    border-right-width: 1px;
    transition: all 0.3s;
    border-top: none;
    display: flex;
    align-items: center;
    width: 269px;
}
.notification__item,
.massage__item {
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before {
        content: "\f003";
        position: absolute;
        font-family: "icomoon";
        color: #b0bec5;
        font-size: 16px;
        top: 23px;
        right: 31px;
    }
}
.notification__menu,
.massage__menu{
    right: -28px;
}
.icons-color::before {
    color: #ef6c00;
}
.massage__item-reply {
    &::before {
        content: "\f112";
    }
}
.notification__item {
    &::before {
        content: "\f0a2";
    }
}
.basket__images,
.notification__images,
.massage__images {
    margin-right: 15px;
}
.basket__info-name,
.massage__info-name {
    @include f500;
    color: $bg;
}
.basket__info-thema,
.massage__info-thema,
.notification__info-thema {
    font-size: 12px;
    color: $green;
}
.massage__info-data,
.notification__info-data {
    color: #707070;
    font-size: 10px;
}
.basket__info-price {
    @include f500;
    color: black;
    font-size: 16px;
}
.basket__summ {
    background-color: #fff;
    padding: 16px 17px 12px;
    border: 1px solid #e0e0e0;
    border-top: none;
}
.basket__title {
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    @include f700;
    font-size: 16px;
    color: $bg;
}
.basket__btn {
    @include f700;
    font-size: 14px;
    color: #fff;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;
}
.basket__btn-checkout {
    background-color: #e85647;
    width: 120px;
    margin-left: 6px;
}
// end header

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 17px;
        }
    }
}
.products {
    padding: 110px 0px;
    background-color: $grey;
}
.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        outline: none;
        & + button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        min-width: 310px;
    }
    &-title {
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category {
        display: block;
        color: $green;
        font-size: 14px;
    }
    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span {
            font-size: 14px;
            @include f500;
        }
    }
    &-star {
        font-size: 12px;
        span {
            color: $bg;
        }
    }
}
.products__botton-btn {
    text-align: center;
    button {
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        outline: none;
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

.product-slider {
    padding: 110px 0px 120px;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0px;
                width: 16px;
                height: 16px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

.advantages {
    background-color: $bg;
    padding: 110px 0px;
}
.advantages__title {
    color: #fff;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    transition: all 0.5s;
    &:hover {
        .advantages__item-images {
            background-color: $green;
        }
        .advantages__item-title {
            color: $green;
        }
        .advantages__item-images {
            g {
                fill: #fff;
                transition: all 0.5s;
            }
        }
    }
    &-images {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all 0.5s;
    }
    &-title {
        margin-bottom: 25px;
        color: #fff;
        @include f500;
        font-size: 24px;
        transition: all 0.5s;
    }
    &-text {
        font-size: 15px;
        color: #b0bec5;
    }
}

.ico-1 {
    svg {
        width: 50px;
    }
}
.ico-2 {
    svg {
        width: 70px;
    }
}
.ico-3 {
    svg {
        width: 86px;
    }
}
.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    &__box {
        max-width: 650px;
        min-height: 215px;
        width: 100%;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 265px;
        span {
            @include f700;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
        color: $bg;
    }
}

.Tutorial {
    padding: 70px 0px 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
    }
}
.Tutorial__item {
    &-images {
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-title {
        background-color: #f8f8f8;
        font-size: 24px;
        text-align: center;
        @include f700;
        padding: 30px 10px;
        color: $bg;
    }
}

.footer {
    background-color: $bg;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }
}
.footer__copy {
    border-top: 1px solid #424d53;
}
.footer__copy-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0px;
}
.footer__col {
    max-width: 270px;
    width: 100%;
    &-menu {
        max-width: 220px;
    }
    &-title {
        font-size: 22px;
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}
.footer__info {
    margin-top: 18px;
    color: #fff;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before {
        content: "\f041";
        font-family: "icomoon";
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
}
.fooret__info-phone {
    &::before {
        content: "\f095";
    }
}
.footer__col-list {
    a {
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before {
            content: "\f105";
            font-family: "icomoon";
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
}
.footer__social-link {
    margin-bottom: 33px;
    li {
        display: inline-block;
        & + li {
            margin-left: 5px;
        }
    }
    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
    }
}

.link-twitter {
    background-position: -28px 0;
}
.link-youtube {
    background-position: 0 -28px;
}
.link-pinterest {
    background-position: -28px -28px;
}
.link-linledin {
    background-position: -56px 0;
}
.footer__form-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.footer__form {
    position: relative;
    input {
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding-left: 13px;
        padding-right: 50px;
        &::placeholder {
            color: #697378;
        }
    }
    button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        width: 43px;
        height: 40px;
        border: none;
        cursor: pointer;
        &::before {
            content: "\f124";
            font-family: "icomoon";
            color: #fff;
            font-size: 20px;
            position: absolute;
            top: 9px;
            left: 13px;
        }
    }
}
